body {
    background-color: #ffffff;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    color: #663009;
}

div.listContainer {
    float: left;
    width: 200px;
}

div.debugControl {
    margin-bottom: 10px;
}

#personList {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sectionHeader {
    font-size: 12px;
    font-weight: bold;
}

#personDetail {
    margin-left: 4px;
    background-color: #eeeeee;
    float: left;
    padding: 4px;
    width: 400px;
}

div.formRow {
    padding: 2px 4px 2px 2px;
    clear: both;
}

div.formRow label {
    float: left;
    width: 70px;
    padding: 2px 2px 2px 2px;
}

div.formRow input[type='text'] {
    width: 200px;
}

.clear {
    clear: both;
    font-size: 0px;
}

div.addressContainer {
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: 1px solid #cccccc;
    padding: 4px;
}

input.streetNo {
    width: 60px;
    margin-right: 8px;
}

input.postCode {
    width: 60px;
}

.personAction {
    float: right;
}
