div.treePlusStart {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/plus_middle.gif') no-repeat left top;
}

div.treePlusMiddle {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/plus_middle.gif') no-repeat left top;
}

div.treePlusEnd {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/plus_end.gif') no-repeat left top;
}

div.treePlusNone {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/plus_none.gif') no-repeat left top;
}

div.treeMinusStart {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/minus_start.gif') no-repeat left top;
}

div.treeMinusMiddle {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/minus_middle.gif') no-repeat left top;
}

div.treeMinusEnd {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/minus_end.gif') no-repeat left top;
}

div.treeMinusNone {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/minus_none.gif') no-repeat left top;
}

div.treeLeaf {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/leafnode.png') no-repeat left top;
}

div.treeFolderOpen {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/folder-open.png') no-repeat left top;
}

div.treeFolderClosed {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/folder-closed.png') no-repeat left top;
}

div.treeLineMiddle {
  width: 18px;
  height: 100%;
  position: static;
  border: 0px;
  background: url('tree_images/line_middle.gif') repeat-y left top;
}

div.treeLineBranch {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/line_branch.gif') no-repeat left top;
}

div.treeLineEnd {
  width: 18px;
  height: 18px;
  position: static;
  background: url('tree_images/line_end.gif') no-repeat left top;
}

span.selected {
  font-family: helvetica;
  font-size: x-small;
  padding-top: 0px;
  margin-top: 0px;
  color: #ffffff;
  background-color: #000077;
  text-align: left;
}

span.unselected {
  font-family: helvetica;
  font-size: x-small;
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
}
